<div class="log">
  <h2>Create an account to play a game:</h2>

  <%= form_for :user, url: '/users' do |f| %>

    <%= f.text_field :name, placeholder: "Username" %>
    <p></p>
    <%= f.text_field :email, placeholder: "Email"%>
    <p></p>
    <%= f.password_field :password, placeholder: "Password" %>
    <p></p>
    <%= f.password_field :password_confirmation, placeholder: "Confirm Password" %>
    <p></p>
    <%= f.submit "Submit" %>

  <% end %>
</div>
