<h1>Guess a letter. You have <%= @game.guesses_left %> incorrect guesses left.</h1>

<%= @game.word_display %>
<p>The word:</p>

<%= @game.word %>
<p>Guesses so far:</p>

<%= @game.display_incorrect_guesses%>

<% if @game.playing? %>
  <%= form_tag("/games/#{@game.id}", method: "put") do %>
    <%= label_tag 'guess a letter' %>
    <%= text_field_tag :guess, "", :autofocus => true, :maxlength => 1, :size =>2 %>
    <%= submit_tag name="Submit Guess"%>
  <% end %>
<% elsif @game.won? %>
  <h1>Congratulations! You Win!</h1>
  <%= render 'start'  %>

<% else @game.lost? %>
  <h1>Oh no! You lost!</h1>
  <%= render 'start'  %>

<% end %>
