<!DOCTYPE html>
<html>
  <head>
    <title>Hangman</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <%= favicon_link_tag 'h-icon.ico' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <ul id="nav-bar" role="navigation">
        <li class="nav navbar-brand" id="hangman-logo">
          Hangman
        </li>
          <% if current_user %>
        <li class="nav" id="current-user">
          Hello, <%= current_user.name %>
        </li>
        <li class="nav" role="button">
          <%= link_to "Leaderboard", '/games', {style: "color: white; text-decoration: none;"} %>
        </li>
        <li role="button" class="logout nav navbar-nav navbar-right" id="link"><%= link_to "Logout", '/logout', {style: "color: white; text-decoration: none;"} %></li>
          <% else %>
        <li role="button" class="logout nav navbar-nav navbar-right">
          <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup', {style: "color: white; text-decoration: none;"} %>
        </li>
          <% end %>
      </ul>
    </nav>
    <h1 id="hangman-title">Hangman</h1>
    <%= yield %>
    <footer class=" footer navbar navbar-default navbar-fixed-bottom">
      <div class="container">
        <div class="row">
          <!-- SOCIAL ICONS -->
          <div class="col-sm-6 col-sm-push-10" id="github">
            <span>Find me on:</span>
            <a href="https://github.com/katieboundary/hangman">GitHub</a>
            <a href="https://www.linkedin.com/in/katiemoneill">LinkedIn</a>
          </div>
          <!-- /SOCIAL ICONS -->
          <div class="col-sm-6 col-sm-pull-6">
            <p>Hangman | Created by Katie O'Neill.</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>

